{% load staticfiles %}

<html>

<head>
    <title>My shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    {% block extrahead %}       {# Extra Resources Start #}
    {{ form.media }}            {# Form required JS and CSS #}
    {% endblock %}              {# Extra Resources End #}

</head>

<body>
    {% block navbar %}
    <header class="bg-dark fixed-top">
        <nav class="navbar navbar-expand-md navbar-dark wrapper">
            <a class="navbar-brand logo"  href="{% url 'index' %}">MyShop</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% for category in category_list %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category' category.id %}">{{category.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}

    <div class="content container-fluid wrapper">

        <div class="row">
            <div class="col-md-12">
                <div class="page">
                    <div class="row">
                        <div class="col-md-12">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <address>
            <p>0660341245</p>
        </address>
        <small>@2018</small>
    </footer>
</body>

</html>